$light: #fff;
$primary-color: #635CDB;
$secondary-color: #f4f4f4;
$black: #000;
$black-light: #232323;
$black-lighter: #888;
$border-color:#eee;
$primary-font:'Poppins', sans-serif;
$secondary-font:'Rubik', sans-serif;
