<!--  ABout2  AREA START  -->
<section class="section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
        <h3 class="mb-3">We’re Innovators & <br>SEO Marketing Agency</h3>
        <p class="mb-4">We provide marketing services to startups and small businesses to looking for a partner for
          their digital media, design-dev, lead generation</p>

        <span class="h5 mb-4">Let's Check what we do actually :</span>
        <ul class="about-list2 my-4">
          <li class="mb-2"><i class="far fa-check-circle"></i> Best Analytics Audits to your site in specific niche</li>

          <li class="mb-2">
            <i class="far fa-check-circle"> </i> Modern Keyword Analysis to keep up to date
          </li>

          <li class="mb-2">
            <i class="far fa-check-circle"> </i> More quality content, social networking and relative sharing
          </li>

          <li class="mb-2">
            <i class="far fa-check-circle"> </i> Social networking and relative sharing More quality content,
          </li>
        </ul>

        <a href="contact.html" class="mt-3 d-inline-block">Learn more about us <i class="fa fa-angle-right"></i></a>
      </div>

      <div class="col-lg-6 col-md-4">
        <img src="images/about/about-4.jpg" alt="" class="img-fluid w-100">
      </div>
    </div>
  </div>
</section>
<!--  ABOUT AREA END  -->