<!--  BLOG AREA START  -->
<section id="blog" class="section-padding bg-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 m-auto">
        <div class="section-heading">
          <h4 class="section-title">Latest Blog news</h4>
          <div class="line"></div>
          <p>Our blog journey may come handy to build a community to make more effective success for business. Latest and trend tricks will help a lot </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-4">
        <div class="blog-block ">
          <img src="images/blog/blog-1.jpg" alt="" class="w-100">
          <div class="blog-text">
            <h6 class="author-name"><span>Tips and tricks</span>john Doe</h6>
            <a href="blog-single.html" class="h5 my-2 d-inline-block">
              Best tips to grow your content quality and standard.
            </a>
            <p>If you want to grow your content quality and standard you should foolow these tips properly voluptatibus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-4">
        <div class="blog-block ">
          <img src="images/blog/blog-2.jpg" alt="" class="w-100">
          <div class="blog-text">
            <h6 class="author-name"><span>Branding</span>john Doe</h6>
            <a href="blog-single.html" class="h5 my-2 d-inline-block">
              Brand your site at top in few minuts.
            </a>
            <p>Brand your site at top, boost your audioance corporis facilis animi voluptas alias ex saepe quo
              voluptatibus.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-4">
        <div class="blog-block ">
          <img src="images/blog/blog-3.jpg" alt="" class="w-100">
          <div class="blog-text">
            <h6 class="author-name"><span>Marketing</span>john Doe</h6>
            <a href="blog-single.html" class="h5 my-2 d-inline-block">
              How to become a best sale <br>marketer in a year!
            </a>
            <p>Becomeing a best sale marketer is not easy but not impossible too.Need to follow up some proper guidance
              and strategy .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  BLOG AREA END  -->