<!--  HISTORY AREA  -->
<section class="section-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ">
        <div class="media img-block mb-3 mb-lg-0">
          <img src="images/about/h-1.jpg" alt="" class="img-fluid rounded mr-3">

          <div class="media-body ">
            <h4 class="mb-3">Provide services with maintain quality from 24 years!</h4>
            <p>We provide marketing services to startups.Let's start your site in grow high.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="media img-block">
          <img src="images/about/h-2.jpg" alt="" class="img-fluid rounded mr-3">

          <div class="media-body">
            <h4 class="mb-3">Our mission is to provide our client what they need!</h4>
            <p>We provide small businesses looking for a partner for their digital media</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  HISTORY AREA END  -->