 <!--  CONTACT START  -->
 <section id="contact" class="section-padding ">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 col-sm-12 col-mfd-12">
         <div class="section-heading">
           <h4 class="section-title">Get in touch</h4>
           <p>Have a project on mind,want to make an consultant. Don't hesistate to contact us.Let's have
             atalk together.Colaborat eyour project to done quickly</p>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-8 col-sm-12 m-auto">
         <div class="contact-form ">
           <form class="contact__form" method="post" action="#">
             <div class="row">
               <div class="col-md-6 form-group">
                 <input name="name" type="text" class="form-control" placeholder="Name" required>
               </div>
               <div class="col-md-6 form-group">
                 <input name="email" type="email" class="form-control" placeholder="Email" required>
               </div>
               <div class="col-md-12 form-group">
                 <input name="subject" type="text" class="form-control" placeholder="Subject" required>
               </div>
               <div class="col-12 form-group">
                 <textarea name="message" class="form-control" rows="6" placeholder="Message" required></textarea>
               </div>
               <div class="col-12 text-center">
                 <input name="submit" type="submit" class=" btn btn-hero btn-circled" value="Send Message">
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!--  CONTACT END  -->
