<!--  COUNTER AREA  -->
<section class="section-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="text-center border p-4 rounded mb-4">
          <span class="counter text-dark font-weight-normal" data-count="460">0</span>
          <h5 class="text-uppercase mt-2">Our Happy Clients</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="text-center border p-4 rounded mb-4">
          <span class="counter text-dark font-weight-normal" data-count="60">0</span>
          <h5 class="text-uppercase mt-2">Projects Done</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="text-center border p-4 rounded mb-4">
          <span class="counter text-dark font-weight-normal" data-count="30">0</span>
          <h5 class="text-uppercase mt-2">Experienced stuff</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="text-center border p-4 rounded ">
          <span class="counter text-dark font-weight-normal" data-count="25">0</span>
          <h5 class="text-uppercase mt-2">Ongoning Projects</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  COUNTER AREA END -->