<!--  FOOTER AREA START  -->
<section id="footer" class="section-padding">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-4">
        <div class="footer-widget footer-link">
          <h4>We concern about you<br> to grow business rapidly.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam hic non sunt recusandae atque unde saepe nihil earum voluptatibus aliquid optio suscipit nobis quia vel quod, iure quae.</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="footer-widget footer-link">
          <h4>About</h4>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="#!">Team</a></li>
            <li><a href="#!">Testimonials</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="footer-widget footer-link">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#!">How it Works</a></li>
            <li><a href="#!">Support</a></li>
            <li><a href="#!">Privacy Policy</a></li>
            <li><a href="#!">Report Bug</a></li>
            <li><a href="#!">License</a></li>
            <li><a href="#!">Terms & Condition</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="footer-widget footer-text">
          <h4>Our location</h4>
          <p class="mail"><span>Mail:</span> promdise@gmail.com</p>
          <p><span>Phone :</span>+202-277-3894</p>
          <p><span>Location:</span> 455 West Orchard Street Kings Mountain, NC 28086,NOC building</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer-copy">
          Copyright &copy; 2021, Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  FOOTER AREA END  -->