<!--  ABOUT AREA START  -->
<section id="intro" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="section-heading">
          <p class="lead">We are creative digital marketing agency with expertise to grow any business that need proper guidance and a committed service.</p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-5 d-none d-lg-block col-sm-12 align-self-end">
        <div class="intro-img">
          <img src="images/banner/why-choose.png" alt="intro-img" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>01.</span>
              <h4>Management</h4>
              <p>we founded September with the goal of creating meaningful digital experiences that connect with people.</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>02.</span>
              <h4>Strategy</h4>
              <p>We’re full service which means we’ve got you covered on design & content right through to digital. </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>03.</span>
              <h4>Experience</h4>
              <p>You’ll form a lasting relationship with us, collaboration is central to we do.Digital experiences
                connect people.</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>04.</span>
              <h4>Build</h4>
              <p>Technology and design are the core of success for real estate related businesses. Leverage our years.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-cta">
              <p class="lead ">Still have any question on mind ? <a href="contact.html" class="smoth-scroll">Contact us</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  ABOUT AREA END  -->