<!--  PARTNER START  -->
<section id="clients" class="section-padding ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="mb-5">
          <h3 class="mb-2">Trusted by hundred over years</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-3 text-center">
        <img src="images/clients/client01.png" alt="partner" class="img-fluid">
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 text-center">
        <img src="images/clients/client06.png" alt="partner" class="img-fluid">
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 text-center">
        <img src="images/clients/client04.png" alt="partner" class="img-fluid">
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 text-center">
        <img src="images/clients/client05.png" alt="partner" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!--  PARTNER END  -->