<div class="row mt-5 mt-lg-0">
  <div class="col-lg-12">
    <div class="sidebar-widget search">
      <div class="form-group">
        <input type="text" placeholder="search" class="form-control">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="sidebar-widget about-bar">
      <h5 class="mb-3">About us</h5>
      <p>Nostrum ullam porro iusto. Fugit eveniet sapiente nobis nesciunt velit cum fuga doloremque
        dignissimos asperiores</p>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="sidebar-widget category">
      <h5 class="mb-3">Category</h5>
      <ul class="list-styled">
        <li>Marketing</li>
        <li>Digiatl</li>
        <li>SEO</li>
        <li>Web Design</li>
        <li>Development</li>
        <li>video</li>
        <li>audio</li>
        <li>slider</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="sidebar-widget tag">
      <a href="blog.html">web</a>
      <a href="blog.html">development</a>
      <a href="blog.html">seo</a>
      <a href="blog.html">marketing</a>
      <a href="blog.html">branding</a>
      <a href="blog.html">web deisgn</a>
      <a href="blog.html">Tutorial</a>
      <a href="blog.html">Tips</a>
      <a href="blog.html">Design trend</a>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="sidebar-widget download">
      <h5 class="mb-4">Download Files</h5>
      <a href="#!"> <i class="fa fa-file-pdf"></i>Company Manual</a>
      <a href="#!"> <i class="fa fa-file-pdf"></i>Company Profile</a>
    </div>
  </div>

</div>