 <!-- PRICE AREA START  -->
 <section class="section-padding">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 col-sm-12 m-auto">
         <div class="section-heading">
           <h4 class="section-title">Affordable pricing plan for you</h4>
           <p>We have different type of pricing table to choose with your need. Check which one is most suitble for you and your business purpose. </p>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4 col-sm-6">
         <div class="pricing-block ">
           <div class="price-header">
             <i class="icofont-diamond"></i>
             <h4 class="price"><small>$</small>26</h4>
             <h5>Monthly pack</h5>
           </div>
           <div class="line"></div>
           <ul>
             <li>5 GB Bandwidth</li>
             <li>Highest Speed</li>
             <li>1 GB Storage</li>
             <li>Unlimited Website</li>
             <li>Unlimited Users</li>
             <li>Data Security and Backups</li>
             <li>24x7 Great Support</li>
             <li>Monthly Reports and Analytics</li>
           </ul>

           <a href="contact.html" class="btn btn-hero btn-circled">select plan</a>
         </div>
       </div>
       <div class="col-lg-4 col-sm-6">
         <div class="pricing-block ">
           <div class="price-header">
             <i class="icofont-rocket-alt-1"></i>

             <h4 class="price"><small>$</small>46</h4>
             <h5>Monthly pack</h5>
           </div>
           <div class="line"></div>
           <ul>
             <li>5 GB Bandwidth</li>
             <li>Highest Speed</li>
             <li>1 GB Storage</li>
             <li>Unlimited Website</li>
             <li>Unlimited Users</li>
             <li>Data Security and Backups</li>
             <li>24x7 Great Support</li>
             <li>Monthly Reports and Analytics</li>
           </ul>

           <a href="contact.html" class="btn btn-hero btn-circled">select plan</a>
         </div>
       </div>
       <div class="col-lg-4 col-sm-6">
         <div class="pricing-block">
           <div class="price-header">
             <i class="icofont-light-bulb"></i>

             <h4 class="price"><small>$</small>76</h4>
             <h5>Monthly pack</h5>
           </div>
           <div class="line"></div>
           <ul>
             <li>5 GB Bandwidth</li>
             <li>Highest Speed</li>
             <li>1 GB Storage</li>
             <li>Unlimited Website</li>
             <li>Unlimited Users</li>
             <li>Data Security and Backups</li>
             <li>24x7 Great Support</li>
             <li>Monthly Reports and Analytics</li>
           </ul>

           <a href="contact.html" class="btn btn-hero btn-circled">select plan</a>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- PRICE AREA END  -->