<!--  SECTION Service-2START  -->
<section class="section-padding" id="section-strategy">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-5">
              <span class="icon-3x text-default"><i class="icofont-layers"></i></span>
              <h4 class="my-3">Be on the top of Google</h4>
              <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-5">
              <span class="icon-3x text-default"><i class="icofont-ui-timer"></i></span>
              <h4 class="my-3">Save your time</h4>
              <p>Override the digital divide with additional clickthroughs from DevOps. Nanotechnology </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <span class="icon-3x text-default"><i class="icofont-ui-browser"></i></span>
              <h4 class="my-3">Cross-devices ability</h4>
              <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <span class="icon-3x text-default"><i class="icofont icofont-shield"></i></span>
              <h4 class="my-3">Trusted by hundreds</h4>
              <p>Override the digital divide with additional clickthroughs from DevOps. Nanotechnology </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  SECTION Service-2 END  -->