<!--  SERVICE BLOCK2 START  -->
<section id="service-2" class="section-padding pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-box-2 mb-5">
          <span>01</span>
          <h4>Best <br>Analytics Audits</h4>
          <p class="mb-0">We have had the pleasure of partnering with a wide array of brands ranging from tech startups to Fortune 500 enterprises.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box-2 mb-5">
          <span>02</span>
          <h4>Deep <br>Technical SEO</h4>
          <p class="mb-0">Over the last decade, we have had the pleasure of partnering with a wide array of brands ranging
            enterprises.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box-2 mb-5">
          <span>03</span>
          <h4>Modern <br>Keyword Analysis</h4>
          <p class="mb-0">Over the last decade a wide array of brands ranging from tech startups to Fortune 500 enterprises.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  SERVICE BLOCK2 END  -->