<!--MAIN BANNER AREA STARt -->
<div id="banner" class="banner-area banner-1">
  <div class="overlay gr-overlay"></div>
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
            <div class="banner-content content-padding">
              <h5 class="subtitle">A creative agency</h5>
              <h1 class="banner-title">We craft seo and digital markting services</h1>
              <p>We provide marketing services to startups and small businesses to looking for a partner for their digital media, design-area.We are a a startup company to be commited to work and time management.</p>

              <a href="contact.html" class="btn btn-white btn-circled">lets start</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN HEADER AREA END -->