<!--  SECTION TEAM  -->
<section class="section-padding bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div>
          <h3 class="mb-2">Our Expert Members do the magical</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-5">
        <img src="images/team/team-1.jpg" alt="" class="img-fluid rounded w-100">

        <ul class="list-unstyled list-inline team-social mt-4">
          <li class="list-inline-item"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-pinterest"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-google-plus"></i></a></li>
        </ul>
        <h4 class="mt-3">Michale John</h4>
        <p class="mb-0">Senior Manager</p>

      </div>
      <div class="col-lg-3 col-md-6 mt-5">
        <img src="images/team/team-2.jpg" alt="" class="img-fluid rounded w-100">

        <ul class="list-unstyled list-inline team-social mt-4">
          <li class="list-inline-item"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-pinterest"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-google-plus"></i></a></li>
        </ul>
        <h4 class="mt-3">Michale John</h4>
        <p class="mb-0">Marketing Manager</p>
      </div>
      <div class="col-lg-3 col-md-6 mt-5">
        <img src="images/team/team-3.jpg" alt="" class="img-fluid rounded w-100">

        <ul class="list-unstyled list-inline team-social mt-4">
          <li class="list-inline-item"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-pinterest"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-google-plus"></i></a></li>
        </ul>
        <h4 class="mt-3">Michale John</h4>
        <p class="mb-0">Marketing Manager</p>
      </div>
      <div class="col-lg-3 col-md-6 mt-5">
        <img src="images/team/team-4.jpg" alt="" class="img-fluid rounded w-100">

        <ul class="list-unstyled list-inline team-social mt-4">
          <li class="list-inline-item"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-pinterest"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="fab fa-google-plus"></i></a></li>
        </ul>
        <h4 class="mt-3">Michale John</h4>
        <p class="mb-0">Junior Developer</p>
      </div>
    </div>
  </div>
</section>
<!--  SECTION TEAM END  -->