<!--  TESTIMONIAL AREA START  -->
<section id="testimonial" class="section-padding ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="mb-5">
          <h3 class="mb-2">Trusted by hundred over years</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 m-auto col-sm-12 col-md-12">
        <div class="carousel slide" id="test-carousel2">
          <div class="carousel-inner">
            <ol class="carousel-indicators">
              <li data-target="#test-carousel2" data-slide-to="0" class="active"></li>
              <li data-target="#test-carousel2" data-slide-to="1"></li>
              <li data-target="#test-carousel2" data-slide-to="2"></li>
            </ol>

            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="testimonial-content style-2">
                    <div class="author-info ">
                      <div class="author-img">
                        <img src="images/author/3b.jpg" alt="" class="img-fluid">
                      </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to
                      start buisiness but not get right decision. It’s really great placefor new to start the buisness
                      in righ way! <i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                      <h5>Marine Joshi</h5>
                      <p>Senior designer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="testimonial-content style-2">
                    <div class="author-info ">
                      <div class="author-img">
                        <img src="images/author/5b.jpg" alt="" class="img-fluid">
                      </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to
                      start buisiness but not get right decision. It’s really great placefor new to start the buisness
                      in righ way! <i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                      <h5>Marine Joshi</h5>
                      <p>Senior designer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  ITEM END  -->

            <div class="carousel-item ">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="testimonial-content style-2">
                    <div class="author-info ">
                      <div class="author-img">
                        <img src="images/author/3b.jpg" alt="" class="img-fluid">
                      </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to
                      start buisiness but not get right decision. It’s really great placefor new to start the buisness
                      in righ way!<i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                      <h5>Marine Joshi</h5>
                      <p>Senior designer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  ITEM END  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  TESTIMONIAL AREA END  -->